<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- The fuck are these for-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <!-- this my script-->
    <script src="customJS.js"></script>
    <title>Spoon's Item List</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Howdy Pardner</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.twitch.tv/spoonerton">My Stream</a>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">TwitchToolkit</h1>
                <p>TwitchToolkit is a mod written by Twitch.tv/hodlhodl that integrates storytelling decisions into chat votes, awards viewers coins for watching, and those coins can be spent on items/events in game.</p>
                <button type="button" data-toggle="collapse" data-target="#list1">Toolkit Commands</button>
                <button type="button" data-toggle="collapse" data-target="#list2">Pawn Commands</button>
                <button type="button" data-toggle="collapse" data-target="#list3">Colony Commands</button>
                <div id="list1" class="collapse">
                    <ul class="list-group">
                    <li class="list-group-item">!bal - check balance and karma rate</li>
                    <li class="list-group-item">!buy - Syntax: !buy beer 6 - purchase an item or event</li>
                    <li class="list-group-item">!joinqueue - join the viewer name queue</li> 
                    <li class="list-group-item">!whatiskarma - explains what the karma system is</li>
                    <li class="list-group-item">!purchaselist - gives users a link to the public purchase list</li>
                    <li class="list-group-item">!instructions - gives users info on using the mod</li>
                    <li class="list-group-item">!modinfo - gives users info about the mod</li>
                    <li class="list-group-item">!modsettings - gives user info on how many coins are being earned and global settings</li>
                    <li class="list-group-item">!giftcoins - Syntax: !giftcoins @username 100 - give another viewer your coins</li>
                    </ul>
                </div>
                <div id="list2" class="collapse">
                    <ul class="list-group">
                    <li class="list-group-item">!leave - get the HELL OUT (No refunds)</li>
                    <li class="list-group-item">!reviveme - revive your pawn</li>
                    <li class="list-group-item">!healme - heal your pawn</li>
                    <li class="list-group-item">!levelskill [skill] [coins] - level a skill of yours with coins (1500 minimum)</li>
                    <li class="list-group-item">!passionshuffle [skill] - Shuffles your passions. Selected skill has a guaranteed minor passion</li>
                    <li class="list-group-item">!trait [trait] - add specified trait to your pawn</li>
                    <li class="list-group-item">!removetrait [trait] - remove specified trait from your pawn</li>
                    <li class="list-group-item">!backpack [item] - this will attempt to purchase items directly into your pawn's inventory</li> 
                    <li class="list-group-item">!surgery [item] [quantity/bodypart] - Purchases the part specified and queues it for surgery on your pawn.</li>
                    <li class="list-group-item">!mypawnstory - view information about your pawns backstory</li>
                    <li class="list-group-item">!mypawnskills - view information about your pawns skills</li>
                    <li class="list-group-item">!mypawnstats [category] - categorized information. use Basics, Combat, Misc, or Social</li>
                    <li class="list-group-item">!mypawnneeds - information about a pawn’s current needs</li>
                    <li class="list-group-item">!mypawnrelations - view information about your relationship to other viewers</li>
                    <li class="list-group-item">!mypawnbody - displays information about a pawn’s body</li>
                    <li class="list-group-item">!mypawngear - Lists all weapons and apparel</li>
                    <li class="list-group-item">!mypawnhealth - Lists a health summary</li>
                    <li class="list-group-item">!mypawnhealth [system] - Detailed information about a pawns health. Ex. !mypawnhealth sight</li>
                    <li class="list-group-item">!mypawnbody - Lists all damage or replaced body parts</li>
                    </ul>
                </div>
                <div id="list3" class="collapse">
                    <ul class="list-group">
                    <li class="list-group-item">!colonists - the current number of colonists</li>
                    <li class="list-group-item">!wealth - colony's current wealth</li>
                    <li class="list-group-item">!insult [target] - insult another colonist (sometimes)</li> 
                    <li class="list-group-item">!research - shows the current research in progress</li> 
                    <li class="list-group-item">!factions - lists the colony's relationship with other factions</li>
                    <li class="list-group-item">!reviveall - colony wide ressurection</li>
                    <li class="list-group-item">!healall- colony wide healing</li>     
                    </ul>
                </div>
            </div>
        </div>
        <div ng-app='tabs' ng-controller='tabCtrl'>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class='tabs'>
                            <form>
                                <div class="form-group">
                                    <button class="btn btn-success" ng-class="{'active': (selected == '1')}" ng-click='selected=1'>
                                        Items
                                    </button>
                                    <button class="btn btn-success" ng-class="{'active': (selected == '2')}" ng-click='selected=2'>
                                        Events
                                    </button>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="">Price Between:</label>
                                    <div class="col-sm-2">
                                        <input type="number" class="form-control" id="item-price-min" placeholder="0">
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="number" class="form-control" id="item-price-max" placeholder="100000">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show='selected == 1'>
                    <div class="col-md-12">
                        <div id="items">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
                                </div>
                                <input type="text" class="form-control search" aria-label="Search" aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <p>
                                <button type="button" class="btn btn-primary sort" data-sort="abr">
                                    Sort
                                </button>
                                <button type="button" class="btn btn-primary sort" data-sort="price">
                                    Sort by Price
                                </button>
                            </p>
                            <table class="table items">
                                <tr>
                                    <th scope="col" class="sort" data-sort="abr">Name</th>
                                    <th scope="col" class="sort" data-sort="price">Price</th>
                                    <th scope="col" class="sort" data-sort="category">Category</th>
                                </tr>
                                <tbody class="list">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show='selected == 2'>
                    <div class="col-md-12">
                        <div id="events">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
                                </div>
                                <input type="text" class="form-control search" aria-label="Search" aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <p>
                                <button type="button" class="btn btn-primary sort" data-sort="abr">
                                    Sort
                                </button>
                                <button type="button" class="btn btn-primary sort" data-sort="price">
                                    Sort by Price
                                </button>
                                <button type="button" class="btn btn-primary sort" data-sort="karmatype">
                                    Sort by Karma
                                </button>
                            </p>
                            <table class="table events">
                                <tr>
                                    <th scope="col" class="sort" data-sort="abr">Name</th>
                                    <th scope="col" class="sort" data-sort="price">Price</th>
                                    <th scope="col" class="sort" data-sort="karmatype">Karma</th>
                                </tr>
                                <tbody class="list">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <hr>
        </div>
    </main>
    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>Go fast, Eat ass.</p>
        </div>
    </footer>
    <!-- some shit -->
    <style>
        .sort:after {
            display: inline-block;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid transparent;
            content: "";
            position: relative;
            top: -10px;
            right: -5px;
        }
        
        .sort.asc:after {
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #fff;
            content: "";
            position: relative;
            top: 4px;
            right: -5px;
        }
        
        .sort.desc:after {
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #fff;
            content: "";
            position: relative;
            top: -4px;
            right: -5px;
        }
        </style>
<!--Bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
